$base-color: #9DC29D;
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

.form-results {
    li {
        color: $base-color;
    }

}

section {
    max-width: 800px;
    margin: 50px auto;
}
